@using Integratieproject1.Domain.Ideations
@model Integratieproject1.Domain.Projects.Project

@{
    ViewBag.Title = "ModeratorPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="moderatorGrid">
        <div id="reportedPosts">
            <div class="d-flex flex-column justify-content-start align-items-center">
                <h3>Reported posts</h3>
                <div class="d-flex flex-column justify-content-start">
                    <h5>Ideas</h5>
                    <table class="table">
                        <tr>
                            <th>Idea</th>
                            <th>Ideation</th>
                            <th>User</th>
                        </tr>
                        @foreach (var idea in @ViewBag.ReportedIdeas)
                        {
                            <tr>
                                <td>@idea.Title</td>
                                <td>@idea.Ideation.CentralQuestion</td>
                                <td>@idea.IdentityUser.Email</td>
                                <td><a asp-area="" asp-controller="Project"
                                       asp-action="Idea" asp-route-projectId="@idea.IdeaId">show Idea
                                </a></td>
                                <td>
                                    <a asp-area="" asp-controller="Moderator"
                                       asp-action="PostCorrect" asp-route-projectId="@Model.ProjectId" asp-route-id="@idea.IdeaId" asp-route-type="idea">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Moderator"
                                       asp-action="DeletePost" asp-route-projectId="@Model.ProjectId" asp-route-id="@idea.IdeaId" asp-route-type="idea">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Project"
                                       asp-action="Idea" asp-route-projectId="@idea.IdeaId">
                                        <i class="fa fa-paper-plane"></i>
                                    </a>
                                </td>
                                <td><a asp-area="" asp-controller="Project"
                                       asp-action="Idea" asp-route-projectId="@idea.IdeaId"><i class="fa fa-user-times"></i>
                                </a></td>
                            </tr>
                        }
                    </table>
                    <h5>Reactions</h5>
                    <table class="table">
                        <tr>
                            <th>Reaction</th>
                            <th>On</th>
                            <th>User</th>
                        </tr>
                        @foreach (var reaction in @ViewBag.ReportedReactions)
                        {
                            <tr>
                                <td>@reaction.ReactionText</td>
                                @if (reaction.Idea == null && reaction.Ideation != null)
                                {
                                   <td>ideation: @reaction.Ideation.CentralQuestion</td> 
                                }
                                else
                                {
                                    <td>idea: @reaction.Idea.Title</td>
                                }                             
                                <td>@reaction.IdentityUser.Email</td>
                                <td>
                                    <a asp-area="" asp-controller="Moderator"
                                       asp-action="PostCorrect" asp-route-projectId="@Model.ProjectId" asp-route-id="@reaction.ReactionId" asp-route-type="reaction">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Moderator"
                                       asp-action="DeletePost" asp-route-projectId="@Model.ProjectId" asp-route-id="@reaction.ReactionId" asp-route-type="reaction">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                @*<td>
                                    <a asp-area="" asp-controller="Project"
                                       asp-action="Idea" asp-route-projectId="@reaction.ReactionId">
                                        <i class="fa fa-paper-plane"></i>
                                    </a>
                                </td>
                                <td><a asp-area="" asp-controller="Project"
                                       asp-action="Idea" asp-route-projectId="@reaction.ReactionId"><i class="fa fa-user-times"></i>
                                </a></td>*@
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div id="moderatorNav">

        </div>
        <div id="posts">

        </div>
    </div>

</div>