@using Integratieproject1.Domain.Projects
@using Integratieproject1.Domain.Surveys
@model Integratieproject1.Domain.Surveys.Question

@{
    ViewBag.Title = "EditQuestionPage";
}

<div>
    <form asp-controller="Admin" asp-action="EditQuestion" asp-route-questionId="@Model.QuestionId" asp-route-surveyId="@ViewBag.SurveyId" method="post">
        <label asp-for="QuestionText"></label>
        <input required asp-for="QuestionText" value="@Model.QuestionText" class="form-control"/>
        <select asp-for="QuestionType" asp-items="Html.GetEnumSelectList<QuestionType>()">
        </select>
        <input type="submit" value="Edit Question">
    </form>
    <a asp-area="" asp-controller="Admin"
       asp-action="DeleteQuestion" asp-route-questionId="@Model.QuestionId" asp-route-surveyId="@ViewBag.SurveyId"><button>Delete question</button>
    </a>
    
</div>