@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Ideations.Ideation

@{
    ViewBag.Title = "Fase";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="adminGrid">
        <div class="adminTitle text-center">
            <h2>Wijzig Ideation</h2>
        </div>
        <div class="adminMain">
            <div>
                <form asp-controller="Admin" asp-action="EditIdeation" asp-route-ideationId="@Model.IdeationId" method="post">
                    <label asp-for="CentralQuestion">Centrale vraag</label>
                    <input required asp-for="CentralQuestion" value="@Model.CentralQuestion" class="form-control" />
                    <formgroup>
                        <label asp-for="InputIdeation">Kunnen gebruikers idee&euml;n posten?</label><br />
                        <input asp-for="InputIdeation" value="True" type="radio">ja<br />
                        <input asp-for="InputIdeation" value="False" type="radio">nee<br />
                    </formgroup>
                    <formgroup>
                        <label asp-for="Text">Tekst Toevoegen</label><br />
                        <input asp-for="Text" value="True" type="radio">Ja<br />
                        <input asp-for="Text" value="False" type="radio">Nee<br />
                        <label asp-for="TextRequired">Tekst Verplicht</label><br />
                        <input asp-for="TextRequired" value="True" type="radio">Ja<br />
                        <input asp-for="TextRequired" value="False" type="radio">Nee<br />
                    </formgroup>
                    <formgroup>
                        <label asp-for="Image">Afbeelding Toevoegen</label><br />
                        <input asp-for="Image" value="True" type="radio">Ja<br />
                        <input asp-for="Image" value="False" type="radio">Nee<br />
                        <label asp-for="ImageRequired">Afbeelding Verplicht</label><br />
                        <input asp-for="ImageRequired" value="True" type="radio">Ja<br />
                        <input asp-for="ImageRequired" value="False" type="radio">Nee<br />
                    </formgroup>
                    <formgroup>
                        <label asp-for="Video">Video Toevoegen</label><br />
                        <input asp-for="Video" value="True" type="radio">Ja<br />
                        <input asp-for="Video" value="False" type="radio">Nee<br />
                        <label asp-for="VideoRequired">Video Verplicht</label><br />
                        <input asp-for="VideoRequired" value="True" type="radio">Ja<br />
                        <input asp-for="VideoRequired" value="False" type="radio">Nee<br />
                    </formgroup>
                    <formgroup>
                        <label asp-for="Map">Kaart Toevoegen</label><br />
                        <input asp-for="Map" value="True" type="radio">Ja<br />
                        <input asp-for="Map" value="False" type="radio">Nee<br />
                        <label asp-for="MapRequired">Kaart Verplicht</label><br />
                        <input asp-for="MapRequired" value="True" type="radio">Ja<br />
                        <input asp-for="MapRequired" value="False" type="radio">Nee<br />
                    </formgroup>
                    <label asp-for="CentralQuestion">Externe link</label>
                    <input asp-for="ExternalLink" value="@Model.ExternalLink" class="form-control" type="url"/>
                    <input class="btn btn-primary" type="submit" value="Ideation Opslaan">
                </form>
                <a class="btn btn-danger" asp-area="" asp-controller="Admin"
                   asp-action="DeleteIdeation" asp-route-ideationId="@Model.IdeationId">
                    Verwijder Ideation
                </a>
            </div>
        </div>
        <div class="adminInfo">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <h5>
                        <strong>Info:</strong>
                    </h5>
                    <strong>Project:</strong> @Model.Phase.Project.ProjectName<br/>
                    <strong>Fase:</strong> @Model.Phase.PhaseName<br/>
                    <strong>Faseperiode:</strong><br/>
                    @Model.Phase.StartDate.ToString("d") - @Model.Phase.EndDate.ToString("d")<br/>
                    <br/>
                    <br/>
                    <strong>Ideation:</strong> @Model.CentralQuestion
                </div>
            </div>
        </div>
    </div>


</div>