@using Integratieproject1.Domain.Ideations
@using Integratieproject1.Domain.Projects
@model IList<Integratieproject1.Domain.Ideations.Idea>

@{
    ViewBag.Title = "Admin";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="adminGrid">
        <div class="adminTitle text-center">
            <h2>Idee&euml;n</h2>
        </div>
        <div class="adminMain">
            <div>
                <table class="table">
                    <tr>
                        <th>Titel</th>
                    </tr>
                    @foreach (var idea in Model)
                    {
                        <tr>
                            <td>@idea.Title</td>
                            <td>
                             
                                <a asp-area="" asp-controller="Project"
                                   asp-action="EditIdea" asp-route-ideaId="@idea.IdeaId">
                                    Wijzig
                                </a>
                               
                            </td>
                        </tr>
                    }
                </table>
                <a class="btn btn-primary" asp-area="" asp-controller="Project"
                   asp-action="CreateIdea" asp-route-ideationId="@ViewBag.IdeationId">
                    Add idea
                </a>
            </div>
        </div>
        <div class="adminInfo">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <h5>
                        <strong>Info:</strong>
                    </h5>
                    <strong>Project:</strong> @ViewBag.Ideation.Phase.Project.ProjectName<br/>
                    <strong>Fase:</strong> @ViewBag.Ideation.Phase.PhaseName<br/>
                    <strong>Ideation:</strong> @ViewBag.Ideation.CentralQuestion<br/>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function showHideCreateIdea() {
        var x = document.getElementById('idea');
        if (x.style.display === 'none') {
            x.style.display = 'inline-block';
        } else {
            x.style.display = 'none';
        }
    }

</script>