@using Integratieproject1.Domain.Projects
@model IList<Integratieproject1.Domain.Projects.Phase>

@{
    ViewBag.Title = "AdminPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>phases</h2>
    <div>
        <table class="table">
            <tr>
                <th>PhaseNr</th>
                <th>PhaseName</th>
                <th>StartDate</th>
                <th>EndDate</th>
            </tr>
            @foreach (var phase in Model)
            {
                <tr>
                    <td>@phase.PhaseNr</td>
                    <td>@phase.PhaseName</td>
                    <td>@phase.StartDate</td>
                    <td>@phase.EndDate</td>
                    <td>
                        <a asp-area="" asp-controller="Admin"
                           asp-action="Ideations" asp-route-phaseId="@phase.PhaseId">
                            show Ideations
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Admin"
                           asp-action="Surveys" asp-route-phaseId="@phase.PhaseId">
                            show Surveys
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Admin"
                           asp-action="EditPhase" asp-route-phaseId="@phase.PhaseId">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </table>
        <a asp-area="" asp-controller="Admin"
           asp-action="AddPhase" asp-route-projectId="@ViewData["ProjectId"]">
            <button>Add Phase</button>
        </a>
    </div>
</div>
