@model IList<Integratieproject1.Domain.Users.CustomUser>

@{
    ViewBag.Title = "Admin";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Mijn gebruikers</h2>
    <form asp-action="Users" method="get">
        <div class="form-actions no-color">
            <p>
                Filter: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Zoeken" class="btn btn-primary" /> |
                <a asp-action="Users">Terug naar volledige lijst</a>
            </p>
        </div>
    </form>
    <div>
        <table class="table">
            <tr>
                <th>
                    <a asp-action="Users" asp-route-sortOrder="@ViewData["UserNameSortParm"]">Gebruikersnaam</a>
                </th>
                <th>
                    <a asp-action="Users" asp-route-sortOrder="@ViewData["SurnameSortParm"]">Voornaam</a>
                </th>
                <th>
                    <a asp-action="Users" asp-route-sortOrder="@ViewData["NameSortParm"]">Achternaam</a>
                </th>
                <th>
                    <a asp-action="Users" asp-route-sortOrder="@ViewData["EmailSortParm"]">Email</a>
                </th>
                <th>
                    <a asp-action="Users" asp-route-sortOrder="@ViewData["AgeSortParm"]">Leeftijd</a>
                </th>
            </tr>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Surname</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td>
                    <a asp-area="" asp-controller="Admin"
                       asp-action="GiveModRole" asp-route-userId="@user.Id">
                        Voeg Moderatorrol Toe
                    </a>
                </td>
            </tr>
            }
        </table>
    </div>
</div>