@model IList<Integratieproject1.Domain.Users.CustomUser>

@{
    ViewBag.Title = "Admin";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Verificatieverzoeken</h2>
    <div>
        <table class="table">
            <tr>
                <th>
                    Gebruikersnaam
                </th>
                <th>
                    Voornaam
                </th>
                <th>
                   Achternaam
                </th>
                <th>
                    Email
                </th>
                <th>
                    Leeftijd
                </th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Surname</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Age</td>
                    <td>
                        <a asp-area="" asp-controller="Admin"
                           asp-action="Verify" asp-route-userId="@user.Id">
                            Verifieer gebruiker
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>