@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Datatypes.TextField

@{
    ViewBag.Title = "Voeg Tekst Toe";
}

<div>
    <form class="" asp-controller="Project" asp-action="EditTextField" asp-route-textFieldId="@Model.IdeaObjectId" asp-route-ideaId="@ViewBag.IdeaId" method="post">
        <div class="input-group">
            <textarea rows="1" class="form-control" required asp-for="Text" value="@Model.Text" class="form-control"></textarea>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
                @if ((Model.Idea.GetTextFields().Count != 1 && Model.Idea.Ideation.TextRequired == true) || User.IsInRole("Admin"))
                {
                    <button class="btn btn-danger" asp-controller="Project"
                       asp-action="DeleteTextField" asp-route-ideaId="@ViewBag.IdeaId" asp-route-textFieldId="@Model.IdeaObjectId">
                        <i class="fa fa-times"></i>
                    </button>
                }   
            </div>
        </div>  
    </form>
</div>