@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Datatypes.TextField

@{
    ViewBag.Title = "AddQuestionPage";
}

<div>
    <form class="form-inline" asp-controller="Project" asp-action="EditTextField" asp-route-textFieldId="@Model.IdeaObjectId" asp-route-ideaId="@ViewBag.IdeaId" method="post">
        <input class="form-control" required asp-for="Text" value="@Model.Text" class="form-control"/>
        <input class="btn btn-primary btn-sm" type="submit" value="Edit TextField">
        <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Project"
           asp-action="DeleteTextField" asp-route-ideaId="@ViewBag.IdeaId" asp-route-textFieldId="@Model.IdeaObjectId">
            Delete textField
        </a>
    </form>
</div>