@using Integratieproject1.Domain.Datatypes
@using Integratieproject1.Domain.Ideations
@using Integratieproject1.Domain.Projects
@using Integratieproject1.Domain.Surveys
@model Integratieproject1.Domain.Ideations.Idea

@{
    ViewBag.Title = "Idee";
    ViewBag.IdeaId = Model.IdeaId;
    ViewBag.Position = Model.Position;
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div class="text-center" style="padding: 30px">
    <h2>Wijzig Idee</h2>
</div>
<div id="editIdeaGrid">
<div id="editIdeaInfo">
    <div class="card text-center infoCard">
        <div class="card-body">
            <h5>Info:</h5>
            Project: <a class="" asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Ideation.Phase.Project.ProjectId">@Model.Ideation.Phase.Project.ProjectName</a><br/>
            Fase: <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Ideation.Phase.Project.ProjectId">@Model.Ideation.Phase.PhaseName</a><br/>
            @Model.Ideation.Phase.StartDate.ToString("d") - @Model.Ideation.Phase.EndDate.ToString("d")<br/>
            Ideation: <a asp-controller="Project" asp-action="Ideation" asp-route-ideationId="@Model.Ideation.IdeationId">@Model.Ideation.CentralQuestion</a>
        </div>
    </div>
</div>
<div id="editIdeaTitle" class="text-center">
    <form asp-controller="Project" asp-action="EditIdea" asp-route-ideationId="@Model.Ideation.IdeationId" asp-route-ideaId="@Model.IdeaId" method="post">
        <div class="d-flex flex-row justify-content-start ">
            <button class="btn btn-success iconBtn" type="submit" data-toggle="tooltip" data-placement="top" title="Save het idee">
                <i class="fa fa-check"></i></button>
            <a class="btn btn-danger iconBtn " asp-area="" asp-controller="Project"
               asp-action="DeleteIdea" asp-route-ideaId="@Model.IdeaId" asp-route-ideationId="@Model.Ideation.IdeationId" data-toggle="tooltip" data-placement="top" title="Verwijder het idee">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <h5>Titel:</h5>

        <input required id="ideaInput" asp-for="Title" value="@Model.Title" class="form-control" style="padding: 5px"/>
        @if (Model.Position != null)
        {
            <div class="text-center" id="editLocation" @*style="display: none; padding: 5px"*@>
                @await Html.PartialAsync("_EditLocationPartial.cshtml", Model.Position)
            </div>
        }
        <div class="text-center" id="addLocation" style="display: none; padding: 5px">
            @await Html.PartialAsync("_AddLocationPartial.cshtml", new Position())
        </div>
        <div>
                @if (Model.IdeaTags != null && Model.IdeaTags.Count > 0)
                {
                    <div class="card d-flex flex-row justify-content-center" style="padding: 5px">
                        @foreach (var tag in Model.IdeaTags)
                        {
                            <a style="padding: 2px">
                                <i class="fa fa-tag" style="padding: 2px"></i>@tag.Tag.TagName</a>
                            <a style="text-decoration: none; padding: 2px; padding-right: 7px" asp-controller="Project" asp-action="RemoveIdeaTag" asp-route-ideaId="@Model.IdeaId" asp-route-ideaTagId="@tag.IdeaTagId">
                                <i class="fa fa-times"></i>
                            </a>
                        }
                    </div>
                }


                @if (User.IsInRole("Admin") && Model.IoTSetups != null && Model.IoTSetups.Count > 0)
                {
                    <div class="card d-flex flex-row justify-content-center" style="padding: 5px">
                        @foreach (var ioT in Model.IoTSetups)
                        {
                            <text>
                                iot
                                <a style="text-decoration: none" asp-controller="Admin" asp-action="EditIot" asp-route-iotId="@ioT.Code">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </text>
                        }
                    </div>
                }
        </div>
        <div>
            <div class="text-center" id="addTag" style="display: none; padding: 5px">
                @await Html.PartialAsync("_AddTagPartial.cshtml", new Tag())
            </div>
        </div>
            <div class="d-flex flex-row justify-content-end">

                @if (Model.Position == null)
                {
                    <button class="btn btn-primary iconBtn" onclick="showHide('addLocation')" type="button" data-toggle="tooltip" data-placement="top" title="Voeg een locatie toe">
                        <i class="fa fa-map-marker"></i>
                    </button>
                }
                <button class="btn btn-primary iconBtn" onclick="showHide('addTag')" type="button" data-toggle="tooltip" data-placement="top" title="Voeg een tag toe">
                    <i class="fa fa-tag"></i>
                </button>
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary iconBtn" asp-area="" asp-controller="Admin"
                       asp-action="AddIoT" asp-route-id="@Model.IdeaId" asp-route-type="idea" data-toggle="tooltip" data-placement="top" title="Voeg een IoT opstelling toe">
                        <i class="fa fa-map-pin"></i>
                    </a>
                }
            </div >
                
    </form>
</div>
<div id="editIdeaObjects">
    @if (Model.IdeaObjects != null && Model.IdeaObjects.Count > 0)
    {
        foreach (IdeaObject ideaObject in Model.IdeaObjects.OrderBy(i => i.OrderNr))
        {
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex flex-column justify-content-start align-items-center" style="width: 3%; padding-top: 10px">
                    @if (ideaObject.OrderNr > 1)
                    {
                        <a asp-area="" asp-controller="Project"
                           asp-action="OrderNrUp" asp-route-ideaObjectId="@ideaObject.IdeaObjectId" asp-route-ideaId="@Model.IdeaId">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    }
                    @if (ideaObject.OrderNr < Model.IdeaObjects.Count)
                    {
                        <a asp-area="" asp-controller="Project"
                           asp-action="OrderNrDown" asp-route-ideaObjectId="@ideaObject.IdeaObjectId" asp-route-ideaId="@Model.IdeaId">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    }
                </div>
                <div class="card" style="padding: 10px; width: 97%;">

                    @if (ideaObject.GetType() == typeof(TextField))
                    {
                        var textField = (TextField) ideaObject;
                        <div class="ideaObjectGrid" @*class="d-flex flex-row justify-content-between align-items-center"*@>
                            <div class="ideaObjectArea">
                                <div>@textField.Text</div>
                            </div>
                            <div class="ideaObjectBtn">
                                <button class="btn btn-primary" onclick="showHide('@textField.IdeaObjectId.ToString()editTextField')">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </div>

                        </div>
                        <div id="@textField.IdeaObjectId.ToString()editTextField" style="display: none">
                            @await Html.PartialAsync("_EditTextFieldPartial.cshtml", textField)
                        </div>
                    }
                    @if (ideaObject.GetType() == typeof(Image))
                    {
                        var image = (Image) ideaObject;
                        <div class="ideaObjectGrid" @*class="d-flex flex-row justify-content-between align-items-center"*@>
                            <div class="ideaObjectArea">
                                <img src="@image.ImagePath" style="max-height: 200px; max-width: 200px" class=" img-thumbnail" alt="@image.ImageName"/>

                            </div>
                            <div class="ideaObjectBtn">
                                @if ((Model.IdeaObjects.Where(i => i.GetType() == typeof(Image)).Count() != 1 && Model.Ideation.ImageRequired == true) || User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Project"
                                       asp-action="DeleteImage" asp-route-imageId="@image.IdeaObjectId" asp-route-ideaId="@Model.IdeaId">
                                        <i class="fa fa-times"></i>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                    @if (ideaObject.GetType() == typeof(Video))
                    {
                        var video = (Video) ideaObject;
                        <div class="ideaObjectGrid text-center" @*class="d-flex flex-row justify-content-between align-items-center"*@>

                            <iframe class="ideaObjectArea" src="@video.Url" width="100%"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                            <div class="ideaObjectBtn">
                                @if ((Model.IdeaObjects.Where(i => i.GetType() == typeof(Video)).Count() != 1 && Model.Ideation.VideoRequired == true) || User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Project"
                                       asp-action="DeleteVideo" asp-route-videoId="@video.IdeaObjectId" asp-route-ideaId="@Model.IdeaId">
                                        <i class="fa fa-times"></i>
                                    </a>
                                }
                            </div>

                        </div>
                    }
                </div>
            </div>
        }
    }

    <div id="newTextField" style="display: none; padding: 5px">
        @await Html.PartialAsync("_AddTextFieldPartial.cshtml", new TextField())
    </div>
    <div id="newImage" style="display: none; padding: 5px">
        @await Html.PartialAsync("_AddImagePartial.cshtml")
    </div>
    <div id="newVideo" style="display: none; padding: 5px">
        @await Html.PartialAsync("_AddVideoPartial.cshtml", new Video())
    </div>
    @*@if (!Model.Title.Equals("_NewIdea_"))
    {*@
        <div class="d-flex flex-row justify-content-center">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @if (Model.Ideation.TextAllowed || User.IsInRole("Admin"))
                    {
                        <button class="dropdown-item" onclick="showHide('newTextField')" type="button">Tekstveld</button>
                    }
                    @if (Model.Ideation.ImageAllowed || User.IsInRole("Admin"))
                    {
                        <button class="dropdown-item" onclick="showHide('newImage')" type="button">Afbeelding</button>
                    }
                    @if (Model.Ideation.VideoAllowed || User.IsInRole("Admin"))
                    {
                        <button class="dropdown-item" onclick="showHide('newVideo')" type="button">Video</button>
                    }
                </div>
            </div>
        </div>
    @*}*@
</div>
</div>
</div>
<footer>
    <img src="@Model.Ideation.Phase.Project.Platform.Logo" alt="Logo" height="75" width="75" style="float: right"/>
</footer>
<script>
    function showHide(id) {
        var x = document.getElementById(id);
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    function initMapsApi() {
        initAddMap();
        initEditMap();

    }

</script>
<script>
    function showIdeaResults() {
        document.getElementById("ideaDropdown").classList.toggle("show");
    }


    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("ideaInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("ideaDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places,drawing,geometry,visualization&key=AIzaSyBuYpAodlfpx5uWlMiFTMx3AG7DVRG-T0w&callback=initMapsApi">
</script>