@using Integratieproject1.Domain.Datatypes
@using Integratieproject1.Domain.Ideations
@using Microsoft.AspNetCore.Identity
@model Integratieproject1.Domain.Ideations.Idea

@{
    ViewBag.Title = "ideaPage";
    ViewBag.Id = Model.IdeaId;
    ViewBag.Element = "idea";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="ideaGrid">
        <div id="ideaInfo">
            <div class="card text-center infoCard">
                <div class="card-body">
                    <h5>Info:</h5>
                    Project: <a class="" asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Ideation.Phase.Project.ProjectId">@Model.Ideation.Phase.Project.ProjectName</a><br/>
                    Phase: <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Ideation.Phase.Project.ProjectId">@Model.Ideation.Phase.PhaseName</a><br/>
                    @Model.Ideation.Phase.StartDate.ToString("d") - @Model.Ideation.Phase.EndDate.ToString("d")<br/>
                    Ideation: <a asp-controller="Project" asp-action="Ideation" asp-route-ideationId="@Model.Ideation.IdeationId">@Model.Ideation.CentralQuestion</a>
                </div>
            </div>
        </div>
        <div id="ideaTitle">
            <div class="card text-center" style="border: none;">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-end">
                        @if (User.Identity.IsAuthenticated && (User.Identity.Name == Model.IdentityUser.Email || User.IsInRole("Admin") || User.IsInRole("Mod")))
                        {
                            <a style="padding: 5px" asp-area="" asp-controller="Project"
                               asp-action="EditIdea" asp-route-ideaId="@Model.IdeaId">
                                <i class="fa fa-edit"></i>
                            </a>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a style="padding: 5px" asp-area="" asp-controller="Project"
                               asp-action="ReportPost" asp-route-id="@Model.IdeaId" asp-route-type="idea">
                                <i class="fa fa-flag"></i>
                            </a>
                        }

                    </div>
                    <h1 class="card-title">@Model.Title</h1><br>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex flex-row justify-content-center">
                            @if (Model.CheckVote(User.Identity.Name, VoteType.VOTE))
                            {
                                <div>
                                    <form asp-controller="Project" asp-action="CreateVote" asp-route-voteType="@VoteType.VOTE" asp-route-ideaId="@Model.IdeaId">
                                        <button class="btn btn-primary voteBtn" type="submit">
                                            <i class="fa fa-heart"></i>
                                        </button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <form asp-controller="Project" asp-action="CreateVote" asp-route-voteType="@VoteType.VOTE" asp-route-ideaId="@Model.IdeaId">
                                        <button disabled class="btn btn-secondary voteBtn" type="submit">
                                            <i class="fa fa-heart"></i>
                                        </button>
                                    </form>
                                </div>
                            }
                            @if (Model.CheckVote(User.Identity.Name, VoteType.SHARE_FB))
                            {
                                <div>
                                    <form class="facebookShare" asp-controller="Project" asp-action="CreateVote" asp-route-voteType="@VoteType.SHARE_FB" asp-route-ideaId="@Model.IdeaId">
                                        <div class="facebook"
                                             data-href="https://developers.facebook.com/docs/plugins/"
                                             data-layout="button">
                                            <button class="btn btn-primary voteBtn "

                                                    type="submit"
                                                    onclick="share_fb('https://developers.facebook.com/docs/plugins/')">
                                                <i class="fa fa-facebook"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <form class="facebookShare" asp-controller="Project" asp-action="CreateVote" asp-route-voteType="@VoteType.SHARE_FB" asp-route-ideaId="@Model.IdeaId">
                                        <div class="facebook"
                                             data-href="https://developers.facebook.com/docs/plugins/"
                                             data-layout="button">
                                            <button disabled class="btn btn-secondary voteBtn "

                                                    type="submit"
                                                    onclick="share_fb('https://developers.facebook.com/docs/plugins/')">
                                                <i class="fa fa-facebook"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            }
                            @if (Model.CheckVote(User.Identity.Name, VoteType.SHARE_TW))
                            {
                                <div>
                                    <form class="TwitterShare" asp-controller="Project" asp-action="CreateVote" asp-route-voteType="@VoteType.SHARE_TW" asp-route-ideaId="@Model.IdeaId">
                                        <div class="twitter">
                                            <button type="submit"
                                                    onclick="share_tw()"
                                                    class="btn btn-primary voteBtn">
                                                <i class="fa fa-twitter"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>  
                            }
                            else
                            {
                                <div>
                                    <form class="TwitterShare" asp-controller="Project" asp-action="CreateVote" asp-route-voteType="@VoteType.SHARE_TW" asp-route-ideaId="@Model.IdeaId">
                                        <div class="twitter">
                                            <button disabled type="submit"
                                                    onclick="share_tw()"
                                                    class="btn btn-secondary voteBtn">
                                                <i class="fa fa-twitter"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div> 
                            }
                            
                        </div>
                        <br/>
                    }
                    <div class="card-footer d-flex flex-row justify-content-around" style="background-color: transparent">
                        <div>
                            <i class="fa fa-heart"></i> @Model.Votes.Count</div>
                        <div onclick="showHideReaction()">
                            <i class="fa fa-comment"></i> @Model.Reactions.Count</div>
                    </div>
                </div>
            </div>
            <div id="reaction" class="card " style="padding: 10px; border-left: none; border-right: none; display: none">
                @foreach (var reaction in Model.Reactions)
                {
                    <p>
                        <div class="d-flex flex-row justify-content-between">

                            <p>
                                <small>
                                    <strong>@reaction.IdentityUser.Email:</strong>
                                </small>
                                <small>@reaction.ReactionText</small>
                            </p>
                            <p>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <small>
                                        <a style="text-decoration: none" asp-controller="Project" asp-action="LikeReaction" asp-route-type="idea" asp-route-id="@Model.IdeaId" asp-route-reactionId="@reaction.ReactionId">
                                            <i class="small fa fa-thumbs-up"></i> @reaction.Likes.Count</a>
                                    </small>
                                    <small>
                                        <a asp-area="" asp-controller="Project"
                                           asp-action="ReportPost" asp-route-id="@reaction.ReactionId" asp-route-type="reaction">
                                            <i class="fa fa-flag"></i>
                                        </a>
                                    </small>
                                }
                                else
                                {
                                    <small>
                                        <i class="small fa fa-thumbs-up"></i> @reaction.Likes.Count</small>
                                }
                            </p>

                        </div>
                    </p>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex flex-row justify-content-end">
                        <button class="btn btn-sm btn-primary" onclick="showHideCreateReaction()">
                            <i class="fa fa-comment"></i>
                        </button>
                        <div id="createReaction" style="display: none">
                            @await Html.PartialAsync("_PostReactionPartial.cshtml", new Reaction())
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="ideaObjects" class="card">
            <div class="d-flex flex-column justify-content-start align-items-center">
                @foreach (IdeaObject ideaObject in Model.IdeaObjects.OrderBy(i => i.OrderNr))
                {
                    <div class="ideaObject text-center">
                        @if (ideaObject.GetType() == typeof(TextField))
                        {
                            var textField = (TextField) ideaObject;
                            <p>@textField.Text</p>
                        }
                        @if (ideaObject.GetType() == typeof(Image))
                        {
                            var image = (Image) ideaObject;
                            <img src="@image.ImagePath" style="max-height: 200px" class="img-fluid img-thumbnail" alt="@image.ImageName"/>
                        }
                        @if (ideaObject.GetType() == typeof(Video))
                        {
                            var video = (Video) ideaObject;
                            <iframe src="@video.Url" width="100%" height="300px"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/uploads/soccer-player logo .jpg" style="max-width: 100%" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/uploads/voetbal.jpg" style="max-width: 100%" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/uploads/profo.jpg" style="max-width: 100%" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
*@

<script>
    function share_fb(url) {
        window.open('https://www.facebook.com/sharer/sharer.php?u=' + url,
            'facebook-share-dialog',
            "width=626, height=436");
    }

    function share_tw() {
        window.open("https://twitter.com/share?ref_src=twsrc%5Etfw",
            'twitter-share-dialog',
            "width=626, height=436");
    }
</script>
<script
    async defer crossorigin="anonymous"
    src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v3.2">
</script>
<script
    async src="https://platform.twitter.com/widgets.js"
    charset="utf-8">
</script>
<script>
    function showHideReaction() {
        var x = document.getElementById('reaction');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    function showHideCreateReaction() {
        var x = document.getElementById('createReaction');
        if (x.style.display === 'none') {
            x.style.display = 'inline-block';
        } else {
            x.style.display = 'none';
        }
    }
</script>