@using Integratieproject1.Domain.Ideations
@model Integratieproject1.Domain.Ideations.Ideation

@{
    ViewBag.Title = "ideationPage";
    ViewBag.ideationId = Model.IdeationId;
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@Model.CentralQuestion</h2>
    <p>idea's: </p>
    @foreach (var idea in Model.Ideas)
    {
        <div>
            <h3>@idea.Title</h3>
            <p>@idea.Text</p>
            @if (idea.Images != null)
            {
                 foreach (var image in idea.Images)
                 {
                     <img src="@image.ImagePath" alt="@image.ImageName"/>
                 }
            }
            <iframe src="@idea.Video" width="560" height="315"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <a asp-area="" asp-controller="Project"
               asp-action="Idea" asp-route-ideaId="@idea.IdeaId"><button>view idea</button>
            </a>
        </div>
    }
    
    <button onclick="showHideCreateIdea()">post idea</button>
    <div id="idea" style="display: none">
        @await Html.PartialAsync("_PostIdeaPartial.cshtml", new Idea())
    </div>
</div>


@*************************@
@* refactor naar js file *@
<script>
    function showHideCreateIdea() {
        var x = document.getElementById('idea');
        if (x.style.display === 'none') {
            x.style.display = 'inline-block';
        } else {
            x.style.display = 'none';
        }
    }
</script>
@*************************@
