@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Integratieproject1.Domain.Projects.Project

@{
    ViewBag.Title = "Project";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<body style="background-color: @Model.Platform.BackgroundColor; color: @Model.Platform.TextColor">
<div class="jumbotron jumbotron-fluid text-center"
     @if (Model.BackgroundImage != null)
     {
         <text> style="background-image: url(@Model.BackgroundImage); background-position: center; background-repeat: no-repeat; background-size: cover;" </text>
     }>
    <div style="position: relative"
         @if (Model.BackgroundImage != null)
         {
             <text> class="jumbotronBackground" </text>
         }>
        <h1 class="display-4">@Model.ProjectName</h1>
        <div class="projectDatesSmallScreen">
            <small><p>@Model.StartDate.ToString("d") - @Model.EndDate.ToString("d")</p></small>
        </div>
        <p>@Model.Description</p>
        <div class="progress" style="height: 30px;">
            @foreach (var phase in Model.Phases)
            {
                var phaseWidth = Math.Round((((phase.EndDate - phase.StartDate).TotalDays) / ((Model.EndDate - Model.StartDate).TotalDays) * 100), 0);
                if (DateTime.Now >= phase.StartDate && DateTime.Now <= phase.EndDate)
                {
                    <div id="btnPhase+@phase.PhaseId.ToString()" onclick="displayPhase('btnPhase+' + @phase.PhaseId.ToString())" class="progress-bar btnPhase" role="progressbar" style="width: @phaseWidth%; background-color: #007bff" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="Bekijk de fase">
                        @phase.PhaseName
                    </div>
                }
                else
                {
                    <div id="btnPhase+@phase.PhaseId.ToString()" onclick="displayPhase('btnPhase+' + @phase.PhaseId.ToString())" class="progress-bar btnPhase" role="progressbar" style="width: @phaseWidth%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="Bekijk de fase">
                        @phase.PhaseName
                    </div>
                }
            }
        </div>
        <div class="projectDates">
            <div class="d-flex flex-row justify-content-between">
                <p>@Model.StartDate.ToString("d")</p>
                <p>@Model.EndDate.ToString("d")</p>
            </div>  
        </div>
        
        
        @if (ViewBag.hasIots == true)
        {
            <div class="text-center d-flex flex-row justify-content-center">
                <a id="projectIoTIcon" class="btn btn-lg btn-outline-primary iotIcon text-center" asp-controller="Home"
                   asp-action="IoTMap" asp-route-id="@Model.ProjectId" asp-route-type="project" data-toggle="tooltip" data-placement="top" title="IoT opstellingen">
                    <i class="fa fa-map-pin"></i>
                </a>
            </div>
        }
        <div class="phaseButtonsSmallScreen">
          <div class="d-flex flex-column flex-wrap justify-content-center">
                      @foreach (var phase in Model.Phases)
                      {
                          if (DateTime.Now >= phase.StartDate && DateTime.Now <= phase.EndDate)
                          {
                              <button id="btnPhaseSS+@phase.PhaseId.ToString()" onclick="displayPhase('btnPhase+' + @phase.PhaseId.ToString())"  class="btn btn-primary btnPhaseSS">@phase.PhaseName</button>
                          }
                          else
                          {
                              <button id="btnPhaseSS+@phase.PhaseId.ToString()" onclick="displayPhase('btnPhase+' + @phase.PhaseId.ToString())" class="btn btn-secondary btnPhaseSS">@phase.PhaseName</button>
                          }
                      }
                  </div>  
        </div>
        
        @foreach (var phase in Model.Phases)
        {
            if (DateTime.Now >= phase.StartDate && DateTime.Now <= phase.EndDate)
            {
                <div id="phaseTitle+@phase.PhaseId.ToString()" class="phaseTitle">
                    <div  class=" d-flex flex-row flex-wrap justify-content-center">
                        <div class=" text-center" style=" border: none; border-left: none; border-right: none; border-bottom: none; background-color: transparent">
                            <div class="">
                                <h5>@phase.PhaseName</h5>
                                <div class="projectDatesSmallScreen">
                                    <small><p>@phase.StartDate.ToString("d") - @phase.EndDate.ToString("d")</p></small>
                                </div>
                                <p class="">@phase.Description</p>
                                <div class="progress" style="height: 1px;">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #007bff" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="projectDates">
                                    <div class="d-flex flex-row justify-content-between">
                                        <p>@phase.StartDate.ToString("d")</p>
                                        <p>@phase.EndDate.ToString("d")</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="phaseTitle+@phase.PhaseId.ToString()" class="phaseTitle" style="display: none">
                    <div  class=" d-flex flex-row flex-wrap justify-content-center" >
                        <div class="text-center" style=" border: none; border-left: none; border-right: none; border-bottom: none;background-color: transparent">
                            <div class="">
                                <h5>@phase.PhaseName</h5>
                                <div class="projectDatesSmallScreen">
                                    <p><small>@phase.StartDate.ToString("d") - @phase.EndDate.ToString("d")
                                        @if (DateTime.Now > phase.EndDate)
                                        {
                                            <br/>@:Fase is afgelopen
                                        }
                                        </small></p>
                                    
                                </div>
                                <p class="">@phase.Description</p>
                                <div class="progress" style="height: 1px;">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #007bff" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="projectDates">
                                    <div class="d-flex flex-row justify-content-between">
                                        <p>@phase.StartDate.ToString("d")</p>
                                        @if (DateTime.Now > phase.EndDate)
                                        {
                                            <p><small>Fase is afgelopen</small></p>
                                        }
                                        <p>@phase.EndDate.ToString("d")</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                </div>
                
                </div>
            }
        }

    </div>
</div>
<div class="container">
    @foreach (var phase in Model.Phases)
    {
        if (DateTime.Now >= phase.StartDate && DateTime.Now <= phase.EndDate)
        {
            <div id="phase+@phase.PhaseId.ToString()" class="phase" style="display: block">
                @if ((phase.Surveys != null && phase.Surveys.Count > 0) || (phase.Ideations != null && phase.Ideations.Count > 0))
                {
                 <div class="d-flex flex-row flex-wrap justify-content-around">
                    @foreach (var survey in phase.Surveys)
                    {
                        <div class="card text-center phaseObject">
                            <div class="card-body">
                                <h5 class="card-title">@survey.Title</h5>
                                <a class="btn btn-primary" style="background-color: @Model.Platform.ButtonColor" asp-area=""
                                   asp-controller="Project"
                                   asp-action="Survey" asp-route-surveyId="@survey.SurveyId">
                                    Geef je input!
                                </a>

                            </div>
                        </div>
                    }
                    @foreach (var ideation in phase.Ideations)
                    {
                        <div class="card text-center phaseObject">
                            <div class="card-body">
                                <h5 class="card-title">@ideation.CentralQuestion</h5>

                                @if (@ideation.InputIdeation == true)
                                {
                                    <a class="btn btn-primary" style="background-color: @Model.Platform.ButtonColor" asp-area=""
                                       asp-controller="Project"
                                       asp-action="Ideation" asp-route-ideationId="@ideation.IdeationId">
                                        Geef je idee!
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" style="background-color: @Model.Platform.ButtonColor" asp-area=""
                                       asp-controller="Project"
                                       asp-action="Ideation" asp-route-ideationId="@ideation.IdeationId">
                                        Stem voor je favoriet!
                                    </a>
                                }


                            </div>
                            <div class="card-footer">
                                <i class="fa fa-lightbulb-o"></i> @ideation.Ideas.Count
                            </div>
                        </div>
                    }
                </div>   
                }
                else
                {
                    <div class="d-flex flex-row justify-content-center" style="height: 100%">
                        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%">
                            <div style="font-size: 24px" ><i class="fa fa-frown-o fa-5x"></i></div>
                            <p>Er staat nog niets in deze fase. Kom zeker later nog eens kijken!</p>
                        </div>
                    </div>
                }
                


            </div>
        }
        else
        {
            <div id="phase+@phase.PhaseId.ToString()" class="phase" style="display: none">
                @if ((phase.Surveys != null && phase.Surveys.Count > 0) || (phase.Ideations != null && phase.Ideations.Count > 0))
                {
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                        @foreach (var survey in phase.Surveys)
                        {
                            <div class="card text-center phaseObject ">
                                <div class="card-body d-flex flex-column justify-content-center">
                                    <h5 class="card-title">@survey.Title</h5>
                                    <div>
                                        <a class="btn btn-primary" style="background-color: @Model.Platform.ButtonColor" asp-area=""
                                           asp-controller="Project"
                                           asp-action="Survey" asp-route-surveyId="@survey.SurveyId">
                                            Geef je input!
                                        </a>
                                    </div>

                                </div>
                            </div>
                        }
                        @foreach (var ideation in phase.Ideations)
                        {
                            <div class="card text-center phaseObject">
                                <div class="card-body">
                                    <h5 class="card-title">@ideation.CentralQuestion</h5>

                                    @if (ideation.InputIdeation == true)
                                    {
                                        <a class="btn btn-primary" style="background-color: @Model.Platform.ButtonColor" asp-area=""
                                           asp-controller="Project"
                                           asp-action="Ideation" asp-route-ideationId="@ideation.IdeationId">
                                            Geef je idee!
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" style="background-color: @Model.Platform.ButtonColor" asp-area=""
                                           asp-controller="Project"
                                           asp-action="Ideation" asp-route-ideationId="@ideation.IdeationId">
                                            Stem voor je favoriet!
                                        </a>
                                    }


                                </div>
                                <div class="card-footer">
                                    <i class="fa fa-lightbulb-o"></i> @ideation.Ideas.Count
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="d-flex flex-row justify-content-center" style="height: 100%">
                        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%">
                            <div style="font-size: 24px" ><i class="fa fa-frown-o fa-5x"></i></div>
                            <p>Er staat nog niets in deze fase. Kom zeker later nog eens kijken!</p>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
<footer>
    <img src="@Model.Platform.Logo" alt="Logo" height="75" width="75" style="float: right"/>
</footer>
</body>
<script>
    function displayPhase(id) {
        var btn = document.getElementById(id);
        var phase = document.getElementById("phase+" + id.substring(9));
        var phaseTitle = document.getElementById("phaseTitle+" + id.substring(9));
        var btnSS = document.getElementById("btnPhaseSS+" + id.substring(9));
        var buttons = document.getElementsByClassName("btnPhase");
        var buttonsSS = document.getElementsByClassName("btnPhaseSS");
        var phases = document.getElementsByClassName("phase");
        var phasesTitles = document.getElementsByClassName("phaseTitle");
        var i;
        for (i = 0; i < buttons.length; i++) {
            buttonsSS[i].classList.remove("btn-primary");
            buttonsSS[i].classList.add("btn-secondary");
            buttons[i].style.backgroundColor = "lightslategrey";
            phases[i].style.display = "none";
            phasesTitles[i].style.display = "none";
        }
        btnSS.classList.remove("btn-secondary");
        btnSS.classList.add("btn-primary");
        btn.style.backgroundColor = "#007bff";
        phase.style.display = "block";
        phaseTitle.style.display = "block";
    }
</script>