@using System.Linq
@using Integratieproject1.Domain.Surveys
@using Microsoft.AspNetCore.Routing
@model Integratieproject1.Domain.Surveys.Survey

@{
    ViewBag.Title = "SurveyPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="surveyResultsGrid">
        <div id="surveyResultsInfo">
            <div class="card text-center infoCard">
                <div class="card-body">
                    <h5>Info:</h5>
                    Project: <a class="" asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Phase.Project.ProjectId">@Model.Phase.Project.ProjectName</a><br/>
                    Phase: <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Phase.Project.ProjectId">@Model.Phase.PhaseName</a><br/>
<<<<<<< HEAD
                    Phase description: <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Phase.Project.ProjectId"> @Model.Phase.PhaseName</a><br/>
                    @Model.Phase.StartDate.ToString("d") - @Model.Phase.EndDate.ToString("d")
=======
                     @Model.Phase.StartDate.ToString("d") - @Model.Phase.EndDate.ToString("d")
>>>>>>> b39b4e77617c3cabb4d07584c7526e97422f8669
                </div>
            </div>
        </div>
        <div id="surveyResults">
            <div class="card text-center" style="border: none;">
                <div class="card-body">
                    <h1 class="card-title">Results: @Model.Title</h1>
                    <a class="btn btn-primary" asp-area="" asp-controller="Project"
                       asp-action="Survey" asp-route-surveyId="@Model.SurveyId">
                        Answer survey
                    </a>
                </div>
            </div>
        </div>
        <div class="card" id="results">
            @foreach (var question in Model.Questions)
            {
                <div class="result">
                    @if (question.QuestionType != QuestionType.EMAIL)
                    {
                        <h5>@question.QuestionText</h5>
                        if (question.Answers == null || question.Answers.Count == 0)
                        {
                            <p>No answers</p>
                        }
                        else
                        {
                            foreach (var answer in question.Answers)
                            {
                                if (!answer.AnswerText.Equals(""))
                                {
                                    <p>@answer.AnswerText: @answer.TotalTimesChosen times chosen</p>
                                }
                            }
                        }
                    }
                </div>
            }
        </div>


    </div>


</div>