@using System.Linq
@using Integratieproject1.Domain.Surveys
@using Microsoft.AspNetCore.Routing
@model Integratieproject1.Domain.Surveys.Survey

@{
    ViewBag.Title = "Vragenlijst";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="surveyResultsGrid">
        <div id="surveyResultsInfo">
            <div class="card text-center infoCard">
                <div class="card-body">
                    <h5>Info:</h5>
                    Project: <a class="" asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Phase.Project.ProjectId">@Model.Phase.Project.ProjectName</a><br/>
                    Fase: <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Phase.Project.ProjectId">@Model.Phase.PhaseName</a><br/>
                     @Model.Phase.StartDate.ToString("d") - @Model.Phase.EndDate.ToString("d")
                </div>
            </div>
        </div>
        <div id="surveyResults">
            <div class="card text-center" style="border: none;">
                <div class="card-body">
                    <h1 class="card-title">Resultaten: @Model.Title</h1>
                    <a class="btn btn-primary" asp-area="" asp-controller="Project"
                       asp-action="Survey" asp-route-surveyId="@Model.SurveyId">
                        Vul vragenlijst in
                    </a>
                </div>
            </div>
        </div>
        <div class="card" id="results">
            @foreach (var question in Model.Questions)
            {
                <div class="result">
                    @if (question.QuestionType != QuestionType.EMAIL)
                    {
                        <h5>@question.QuestionText</h5>
                        if (question.Answers == null || question.Answers.Count == 0)
                        {
                            <p>Geen antwoorden!</p>
                        }
                        else
                        {
                            foreach (var answer in question.Answers)
                            {
                                if (!answer.AnswerText.Equals(""))
                                {
                                    <p>@answer.AnswerText: @answer.TotalTimesChosen keer gekozen</p>
                                }
                            }
                        }
                    }
                </div>
            }
        </div>


    </div>


</div>