@model Integratieproject1.Domain.Projects.Platform
@{
    ViewData["Title"] = "Home";
}
<body style="background-color:@Model.BackgroundColor;color:@Model.TextColor">
    <div class="jumbotron jumbotron-fluid text-center"
         @if (Model.BackgroundImage != null) { <text> style="background-image: url(@Model.BackgroundImage); background-position: center; background-repeat: no-repeat; background-size: cover;" </text>  }>
        <div style="position: relative"
            @if (Model.BackgroundImage != null)
            {
                <text> class="jumbotronBackground" </text>
            }
        >
            
            
            <h1 class="display-4">@Model.PlatformName</h1>
            <h5>@Model.Description</h5>
            <a class="btn btn-primary btn-lg" href="#projects" role="button" style="background-color: @Model.ButtonColor"><h2>Geef je idee!</h2></a>
            @if (ViewBag.hasIots == true)
            {
                <br /><div class="text-center d-flex flex-row justify-content-center"> <a id="platformIoTIcon" class="btn btn-lg btn-outline-primary text-center iotIcon" asp-controller="Home"
                   asp-action="IoTMap" asp-route-id="@Model.PlatformId" asp-route-type="platform"><i class="fa fa-map-pin"></i></a>
                      </div>
            }

        </div>
    </div>
    <div class="container">

        <div class="d-flex flex-row flex-wrap justify-content-center">
            <button id="btnActiveProject" onclick="displayActiveProjects()" class="btn btn-primary">actieve projecten</button>
            <button id="btnFutureProject" onclick="displayFutureProjects()" class="btn btn-secondary">toekomstige projecten</button>
            <button id="btnClosedProject" onclick="displayClosedProjects()" class="btn btn-secondary">gesloten projecten</button>
        </div>
        <br />
        <div id="projects" class="d-flex flex-column justify-content-start flex-wrap">
            @foreach (var project in Model.Projects)
            {
                if (DateTime.Now >= project.StartDate && DateTime.Now <= project.EndDate)
                {
                    <div class="card text-center activeProject">
                        <div class="card-body"
                             @if (project.BackgroundImage != null) { <text> style="background-image: url(@project.BackgroundImage); background-position: center; background-repeat: no-repeat; background-size: cover;" </text>  }>
                            <div
                                @if (Model.BackgroundImage != null)
                                {
                                    <text> class="jumbotronBackground" </text>
                                }
                            >
                                
                                <h3 class="card-title">@project.ProjectName</h3>
                                <p class="card-text">@project.Description</p>
                                <div class="progress" style="height: 30px;">
                                    @foreach (var phase in project.Phases)
                                    {
                                        var phaseWidth = Math.Round((((phase.EndDate - phase.StartDate).TotalDays) / ((project.EndDate - project.StartDate).TotalDays) * 100), 0);
                                        if (DateTime.Now >= phase.StartDate && DateTime.Now <= phase.EndDate)
                                        {
                                            <div class="progress-bar" role="progressbar" style="width: @phaseWidth%; background-color: #007bff" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                                <strong>@phase.PhaseName</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar" role="progressbar" style="width: @phaseWidth%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                                @phase.PhaseName
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <p>@project.StartDate.ToString("d")</p>
                                    <p>@project.EndDate.ToString("d")</p>

                                </div>
                                <a class="btn btn-primary" style="background-color: @Model.ButtonColor" asp-area=""
                                   asp-controller="Project"
                                   asp-action="Project" asp-route-projectId="@project.ProjectId">
                                    Bekijk Project
                                </a>
                                <div style="border-top: solid 1px lightgray">
                                    <div class="d-flex flex-row justify-content-around" style="padding-top: 5px">
                                        <p><i class="fa fa-lightbulb-o"></i> @project.GetIdeaCount()</p>
                                        <p><i class="fa fa-heart"></i> @project.GetVoteCount()</p>
                                        <p><i class="fa fa-comment"></i> @project.GetReactionCount()</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else if (DateTime.Now > project.EndDate)
                {
                    <div class="card text-center closedProject">
                        <div class="card-body"
                             @if (project.BackgroundImage != null) { <text> style="background-image: url(@project.BackgroundImage); background-position: center; background-repeat: no-repeat; background-size: cover;" </text>  }>
                            <div @if (Model.BackgroundImage != null) { <text> class="jumbotronBackground" </text>  }>
                                <h3 class="card-title">@project.ProjectName</h3>
                                <h5 class="card-text">@project.Description</h5>
                                <div class="progress" style="height: 30px">
                                    @foreach (var phase in project.Phases)
                                    {
                                        var phaseWidth = Math.Round((((phase.EndDate - phase.StartDate).TotalDays) / ((project.EndDate - project.StartDate).TotalDays) * 100), 0);
                                        if (DateTime.Now >= phase.StartDate && DateTime.Now <= phase.EndDate)
                                        {
                                            <div class="progress-bar" role="progressbar" style="width: @phaseWidth%; background-color: #007bff" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                                <strong>@phase.PhaseName</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar" role="progressbar" style="width: @phaseWidth%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                                @phase.PhaseName
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <p>@project.StartDate.ToString("d")</p>
                                    <p>@project.EndDate.ToString("d")</p>

                                </div>
                                <a class="btn btn-primary"  style="background-color:@Model.ButtonColor" asp-area=""
                                   asp-controller="Project"
                                   asp-action="Project" asp-route-projectId="@project.ProjectId">
                                    Bekijk Project
                                </a>
                                <div style="border-top: solid 1px lightgray">
                                    <div class="d-flex flex-row justify-content-around" style="padding-top: 5px">
                                        <p><i class="fa fa-lightbulb-o"></i> @project.GetIdeaCount()</p>
                                        <p><i class="fa fa-heart"></i> @project.GetVoteCount()</p>
                                        <p><i class="fa fa-comment"></i> @project.GetReactionCount()</p>
                                    </div>
                                </div>
                                
                            </div>

                            
                        </div>
                    </div>
                }
                else if (DateTime.Now < project.StartDate)
                {
                    <div class="card text-center futureProject">
                        <div class="card-body"
                             @if (project.BackgroundImage != null) { <text> style="background-image: url(@project.BackgroundImage); background-position: center; background-repeat: no-repeat; background-size: cover;" </text>  }>
                            <div @if (Model.BackgroundImage != null) { <text> class="jumbotronBackground" </text>  }>
                                <h3 class="card-title">@project.ProjectName</h3>
                                <h5 class="card-text">@project.Description</h5>
                                <div class="progress" style="height: 30px">
                                    @foreach (var phase in project.Phases)
                                    {
                                        var phaseWidth = Math.Round((((phase.EndDate - phase.StartDate).TotalDays) / ((project.EndDate - project.StartDate).TotalDays) * 100), 0);
                                        if (DateTime.Now >= phase.StartDate && DateTime.Now <= phase.EndDate)
                                        {
                                            <div class="progress-bar " role="progressbar" style="width: @phaseWidth%; background-color: #007bff" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                                <strong>@phase.PhaseName</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar" role="progressbar" style="width: @phaseWidth%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                                @phase.PhaseName
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <p>@project.StartDate.ToString("d")</p>
                                    <p>@project.EndDate.ToString("d")</p>

                                </div>
                                <a class="btn btn-primary"  style="background-color:@Model.ButtonColor" asp-area=""
                                   asp-controller="Project"
                                   asp-action="Project" asp-route-projectId="@project.ProjectId">
                                    Bekijk Project
                                </a>
                                <div style="border-top: solid 1px lightgray">
                                    <div class="d-flex flex-row justify-content-around" style="padding-top: 5px">
                                        <p><i class="fa fa-lightbulb-o"></i> @project.GetIdeaCount()</p>
                                        <p><i class="fa fa-heart"></i> @project.GetVoteCount()</p>
                                        <p><i class="fa fa-comment"></i> @project.GetReactionCount()</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <footer>
        <img src="@Model.Logo" alt="Logo" height="75" width="75" style="float:right"/>
    </footer>
</body>
<script>
    function displayActiveProjects() {
        var active = document.getElementsByClassName("activeProject");
        var i;
        for (i = 0; i < active.length; i++) {
            active[i].style.display = "inline-block";
        }
        var closed = document.getElementsByClassName("closedProject");
        var j;
        for (j = 0; j < closed.length; j++) {
            closed[j].style.display = "none";
        }
        var k;
        var future = document.getElementsByClassName("futureProject");
        for (k = 0; k < future.length; k++) {
            future[k].style.display = "none";
        }
        document.getElementById("btnActiveProject").classList.add("btn-primary");
        document.getElementById("btnActiveProject").classList.remove("btn-secondary");
        document.getElementById("btnClosedProject").classList.add("btn-secondary");
        document.getElementById("btnClosedProject").classList.remove("btn-primary");
        document.getElementById("btnFutureProject").classList.add("btn-secondary");
        document.getElementById("btnFutureProject").classList.remove("btn-primary");
    }

    function displayFutureProjects() {
        var active = document.getElementsByClassName("activeProject");
        var i;
        for (i = 0; i < active.length; i++) {
            active[i].style.display = "none";
        }
        var closed = document.getElementsByClassName("closedProject");
        var j;
        for (j = 0; j < closed.length; j++) {
            closed[j].style.display = "none";
        }
        var k;
        var future = document.getElementsByClassName("futureProject");
        for (k = 0; k < future.length; k++) {
            future[k].style.display = "inline-block";
        }
        document.getElementById("btnActiveProject").classList.add("btn-secondary");
        document.getElementById("btnActiveProject").classList.remove("btn-primary");
        document.getElementById("btnClosedProject").classList.add("btn-secondary");
        document.getElementById("btnClosedProject").classList.remove("btn-primary");
        document.getElementById("btnFutureProject").classList.add("btn-primary");
        document.getElementById("btnFutureProject").classList.remove("btn-secondary");

    }

    function displayClosedProjects() {
        var active = document.getElementsByClassName("activeProject");
        var i;
        for (i = 0; i < active.length; i++) {
            active[i].style.display = "none";
        }
        var closed = document.getElementsByClassName("closedProject");
        var j;
        for (j = 0; j < closed.length; j++) {
            closed[j].style.display = "inline-block";
        }
        var k;
        var future = document.getElementsByClassName("futureProject");
        for (k = 0; k < future.length; k++) {
            future[k].style.display = "none";
        }
        document.getElementById("btnActiveProject").classList.add("btn-secondary");
        document.getElementById("btnActiveProject").classList.remove("btn-primary");
        document.getElementById("btnClosedProject").classList.add("btn-primary");
        document.getElementById("btnClosedProject").classList.remove("btn-secondary");
        document.getElementById("btnFutureProject").classList.add("btn-secondary");
        document.getElementById("btnFutureProject").classList.remove("btn-primary");
    }

</script>