@model List<Integratieproject1.Domain.IoT.IoTSetup>;
@{
    ViewData["Title"] = "IoT";
}
<div class="container">

    <h3>IoT Opstellingen</h3>
    <div id="map" style="height: 600px">

    </div>
</div>
<script>
// Initialize and add the map
    function initMap() {
        var position = { lat: @Model.First().Position.Lat, lng: @Model.First().Position.Lng };
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 12, center: position });

        @foreach (var iot in Model)
        {
            if (iot.Question != null)
            {
                @:var infoWindow = new google.maps.InfoWindow({ content: '<a class="btn btn-primary" href="/@iot.Question.Survey.Phase.Project.Platform.PlatformName/Project/Survey?surveyId=@iot.Question.Survey.SurveyId">@iot.Question.QuestionText</a>' });

                @:addIoTMarker(@iot.Position.Lat, @iot.Position.Lng, map, infoWindow);
            }
            else
            {
                @:var infoWindow = new google.maps.InfoWindow({ content: '<a class="btn btn-primary" href="/@iot.Idea.Ideation.Phase.Project.Platform.PlatformName/Project/Idea?ideaId=@iot.Idea.IdeaId">@iot.Idea.Title</a>' });

                @:addIoTMarker(@iot.Position.Lat, @iot.Position.Lng, map, infoWindow);
            }

        }

    }

    function addIoTMarker(lat, lng, map, infoWindow) {
        var position = { lat: lat, lng: lng };
        var marker = new google.maps.Marker({ position: position, map: map });
        marker.addListener('click',function(){
            infoWindow.open(map,marker);
            });

    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places,drawing,geometry,visualization&key=AIzaSyBuYpAodlfpx5uWlMiFTMx3AG7DVRG-T0w&callback=initMap">
</script>