@using Integratieproject1.Domain.Datatypes
@using Integratieproject1.Domain.Ideations
@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.SearchResultModel
@{
    ViewBag.Title = "Zoekresultaten";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}

<p>Zoekresultaten van "@Model.SearchString"</p>

@foreach (var result in Model.SearchResults)
{
    if (result.GetType() == typeof(Project))
    {
        <a asp-controller="Project"
           asp-action="Project" asp-route-projectId="@(((Project) result).ProjectId)">
            <h1>@(((Project) result).ProjectName)</h1>
            <p>@(((Project) result).Description)</p>
        </a>
    }
    else if (result.GetType() == typeof(Phase))
    {
        <a asp-controller="Project"
           asp-action="Project" asp-route-projectId="@(((Phase) result).Project.ProjectId)">
            <h1>@(((Phase) result).PhaseName)</h1>
            <p>@(((Phase) result).Description)</p>
        </a>
    }
    else if (result.GetType() == typeof(Ideation))
    {
        <a asp-controller="Project"
           asp-action="Ideation" asp-route-ideationId="@(((Ideation) result).IdeationId)">
            <h1>@(((Ideation) result).CentralQuestion)</h1>
        </a>
    }
    else if (result.GetType() == typeof(Idea))
    {
        <a asp-controller="Project"
           asp-action="Idea" asp-route-ideaId="@(((Idea) result).IdeaId)">
            <h1>@(((Idea) result).Title)</h1>
            @* <p>@(((Idea) result).GetTextFields().First())</p> *@
        </a>
    }
    else if (result.GetType() == typeof(TextField))
    {
        <a asp-controller="Project"
           asp-action="Idea" asp-route-ideaId="@(((TextField) result).Idea.IdeaId)">
            @* <h1>@(((TextField) result).Idea.Title)</h1> *@
            <p>@(((TextField) result).Text)</p>
        </a>
    }
    else if (result.GetType() == typeof(Reaction))
    {
        if (((Reaction) result).Ideation != null)
        {
            <a asp-controller="Project"
               asp-action="Ideation"
               asp-route-ideaId="@(((Reaction) result).Ideation.IdeationId)">
                <h1>@(((Reaction) result).ReactionText)</h1>
            </a>
        }
        else if (((Reaction) result).Idea != null)
        {
            <a asp-controller="Project"
               asp-action="Idea"
               asp-route-ideaId="@(((Reaction) result).Idea.IdeaId)">
                <h1>@(((Reaction) result).ReactionText)</h1>
            </a>
        }
    }
}