@model IList<Integratieproject1.Domain.Projects.AdminProject>

@{
    ViewBag.Title = "SuperAdminPagina";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
@if (Model.Count == 0)
{
    <h2>Geen projecten gevonden voor deze admin!</h2>
}
else
{
    <div class="container">
        <h2>Admin: @Model.First().Admin.Email </h2>
        <div>
            <table class="table">
                <tr>
                    <th>Projectnaam</th>
                    <th>Beschrijving</th>
                    <th>Startdatum</th>
                    <th>Einddatum</th>
                    <th>Locatie</th>
                </tr>
                @foreach (var adminProject in Model)
                {
                    <tr>
                        <td>@adminProject.Project.ProjectName</td>
                        <td>@adminProject.Project.Description</td>
                        <td>@adminProject.Project.StartDate</td>
                        <td>@adminProject.Project.EndDate</td>
                        <td>@adminProject.Project.Location.LocationName</td>
                        <td><a asp-area="" asp-controller="SuperAdmin"
                               asp-action="DeleteAdminProject" asp-route-adminProjectId="@adminProject.AdminProjectId">Verwijder AdminProject
                        </a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
}