@model Integratieproject1.Domain.Projects.Project

@{
    ViewBag.Title = "SuperAdminPagina";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Project</h2>
    <div>
        <form asp-controller="SuperAdmin" asp-action="EditProject" asp-route-projectId="@Model.ProjectId" method="post">
            <label asp-for="ProjectName">Naam</label>
            <input required asp-for="ProjectName" value="@Model.ProjectName" class="form-control"/>
            <label asp-for="StartDate">Startdatum</label>
            <input required id="startDateInput" asp-for="StartDate" value="@Model.StartDate" type="datetime" class="form-control"/>
            <label asp-for="EndDate">Einddatum</label>
            <input required asp-for="EndDate" value="@Model.EndDate" type="datetime" class="form-control"/>
            <label asp-for="Logo" value="Logo url">Logo Url</label>
            <input asp-for="Logo" type="url" class="form-control"/>
            <label asp-for="Objective">Doel</label>
            <input asp-for="Objective" class="form-control"/>
            <label asp-for="Description">Beschrijving</label>
            <input asp-for="Description" class="form-control"/>
            <label asp-for="Location.Address.City">Stad</label>
            <input required asp-for="Location.Address.City" value="@Model.Location.Address.City" class="form-control"/>
            <label asp-for="Location.Address.Street" >Straat</label>
            <input required asp-for="Location.Address.Street" value="@Model.Location.Address.Street" class="form-control"/>
            <label asp-for="Location.Address.HouseNr">Huisnummer</label>
            <input required asp-for="Location.Address.HouseNr" value="@Model.Location.Address.HouseNr" type="number" class="form-control"/>
            <label asp-for="Location.Address.ZipCode">Postcode</label>
            <input required asp-for="Location.Address.ZipCode" value="@Model.Location.Address.ZipCode" class="form-control"/>
            <label asp-for="Location.LocationName">Locatienaam</label>
            <input required asp-for="Location.LocationName" value="@Model.Location.LocationName" class="form-control"/>
            <input type="submit" value="Wijzig Project">
        </form>
        <a asp-area="" asp-controller="SuperAdmin"
           asp-action="DeleteProject" asp-route-projectId="@Model.ProjectId"><button>Verwijder Project</button>
        </a>
        
        
    </div>
</div>
