@model Integratieproject1.Domain.Projects.Project

@{
    ViewBag.Title = "SuperAdminPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Project</h2>
    <div>
        <form asp-controller="SuperAdmin" asp-action="EditProject" asp-route-projectId="@Model.ProjectId" method="post">
            <label asp-for="ProjectName"></label>
            <input required asp-for="ProjectName" value="@Model.ProjectName" class="form-control"/>
            <label asp-for="StartDate"></label>
            <input required id="startDateInput" asp-for="StartDate" value="@Model.StartDate" type="datetime" class="form-control"/>
            <label asp-for="EndDate"></label>
            <input required asp-for="EndDate" value="@Model.EndDate" type="datetime" class="form-control"/>
            <label asp-for="Logo" value="Logo url"></label>
            <input asp-for="Logo" type="url" class="form-control"/>
            <label asp-for="Objective"></label>
            <input asp-for="Objective" class="form-control"/>
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control"/>
            <label asp-for="Location.Address.City">City</label>
            <input required asp-for="Location.Address.City" value="@Model.Location.Address.City" class="form-control"/>
            <label asp-for="Location.Address.Street" >Street</label>
            <input required asp-for="Location.Address.Street" value="@Model.Location.Address.Street" class="form-control"/>
            <label asp-for="Location.Address.HouseNr">House nr</label>
            <input required asp-for="Location.Address.HouseNr" value="@Model.Location.Address.HouseNr" type="number" class="form-control"/>
            <label asp-for="Location.Address.ZipCode">zipcode</label>
            <input required asp-for="Location.Address.ZipCode" value="@Model.Location.Address.ZipCode" class="form-control"/>
            <label asp-for="Location.LocationName">location name</label>
            <input required asp-for="Location.LocationName" value="@Model.Location.LocationName" class="form-control"/>
            <input type="submit" value="Edit Project">
        </form>
        <a asp-area="" asp-controller="SuperAdmin"
           asp-action="DeleteProject" asp-route-projectId="@Model.ProjectId"><button>Delete Project</button>
        </a>
        
        
    </div>
</div>
