@model IList<Integratieproject1.Domain.Projects.Platform>

@{
    ViewBag.Title = "SuperAdminPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>All Platforms</h2>
    <div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Nummer</th>
                <th>Header</th>
                <th>Logo</th>
            </tr>
            @foreach (var platform in Model)
            {
                <tr>
                    <td>@platform.PlatformId</td>
                    <td>@platform.PlatformName</td>
                    <td>@platform.Phonenumber</td>
                    <td>@platform.Header</td>
                    <td>@platform.Logo</td>
                    <td>
                        <a asp-area="" asp-controller="SuperAdmin"
                           asp-action="EditPlatform" asp-route-platformId="@platform.PlatformId">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="SuperAdmin"
                           asp-action="DeletePlatform" asp-route-platformId="@platform.PlatformId">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
        <a asp-area="" asp-controller="SuperAdmin"
           asp-action="CreatePlatform">
            <button>Create Platform</button>
        </a>
    </div>
</div>