@model IList<Integratieproject1.Domain.Projects.Project>

@{
    ViewBag.Title = "SuperAdminPagina";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Alle Projecten</h2>
    <div>
        <table class="table">
            <tr>
                <th>Naam</th>
                <th>Beschrijving</th>
                <th>Startdatum</th>
                <th>EindDatum</th>
                <th>Locatie</th>
            </tr>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.ProjectName</td>
                    <td>@project.Description</td>
                    <td>@project.StartDate</td>
                    <td>@project.EndDate</td>
                    <td>@project.Location.LocationName</td>
                    <td><a asp-area="" asp-controller="SuperAdmin"
                       asp-action="AddAdminsToProject" asp-route-projectId="@project.ProjectId">Add admin
                    </a></td>
                    <td><a asp-area="" asp-controller="SuperAdmin"
                           asp-action="EditProject" asp-route-projectId="@project.ProjectId">Wijzig
                    </a></td>
                    <td><a asp-area="" asp-controller="SuperAdmin"
                           asp-action="DeleteProject" asp-route-projectId="@project.ProjectId">Verwijder
                    </a></td>
                </tr>
            }
        </table>
        <a class="btn btn-primary" asp-area="" asp-controller="SuperAdmin"
           asp-action="CreateProject">Nieuw Project
        </a>
    </div>
</div>