@model IList<Integratieproject1.Domain.Projects.Project>

@{
    ViewBag.Title = "SuperAdminPagina";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Alle Projecten</h2>
    <form asp-action="Projects" method="get">
        <div class="form-actions no-color">
            <p>
                Filter: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Zoeken" class="btn btn-primary" /> |
                <a asp-action="Projects">Terug naar volledige lijst</a>
            </p>
        </div>
    </form>
    <div>
        <table class="table">
            <tr>
                <th>
                    <a asp-action="Projects" asp-route-sortOrder="@ViewData["NameSortParm"]">Naam</a>
                </th>
                <th>
                    <a asp-action="Projects" asp-route-sortOrder="@ViewData["StatusSortParm"]">Status</a>
                </th>
                <th>
                    <a asp-action="Projects" asp-route-sortOrder="@ViewData["StartDateSortParm"]">Startdatum</a>
                </th>
                <th>
                    <a asp-action="Projects" asp-route-sortOrder="@ViewData["EndDateSortParm"]">Einddatum</a>
                </th>
                <th>
                    <a asp-action="Projects" asp-route-sortOrder="@ViewData["PlatformSortParm"]">District</a>
                </th>
            </tr>
            @foreach (var project in Model)
            {
            <tr>
                <td>@project.ProjectName</td>
                <td>@project.Status</td>
                <td>@project.StartDate</td>
                <td>@project.EndDate</td>
                <td>@project.Platform.PlatformName</td>
                <td>
                    <a asp-area="" asp-controller="SuperAdmin"
                       asp-action="AddAdminsToProject" asp-route-projectId="@project.ProjectId">
                        Voeg admin toe
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="SuperAdmin"
                       asp-action="EditProject" asp-route-projectId="@project.ProjectId">
                        Wijzig
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="SuperAdmin"
                       asp-action="DeleteProject" asp-route-projectId="@project.ProjectId">
                        Verwijder
                    </a>
                </td>
            </tr>
            }
        </table>
        <a class="btn btn-primary" asp-area="" asp-controller="SuperAdmin"
           asp-action="CreateProject">
            Nieuw Project
        </a>
    </div>
</div>